<div class="container-fluid footer-color p-1 fixed">
    <div class="footer-color">
        <div class="d-flex">
            <div class="justify-content-start">
                <ul class="lewo list-inline align-self-center m-0">
                    <li class="list-inline-item">
                        <a>Copyright © 2023 RentAndGo.</a>
                    </li>
                    <li class="list-inline-item" id="photo">
                        <a role="button"> Facebook
                            <img src="assets/facebook.svg" style="height: 50px; width: 30px"/></a>
                    </li>
                    <li class="list-inline-item"  id="photo">
                        <a role="button"> Instagram
                            <img src="assets/instagram.svg" style="height: 50px; width: 30px"/></a>
                    </li>
                    <li class="list-inline-item"  id="photo">
                        <a role="button"> Twitter
                            <img src="assets/twitter.svg" style="height: 50px; width: 30px"/></a>
                    </li>
                    
                </ul>
            </div>
            <div class="lista d-flex justify-content-end flex-grow-1">
                <ul class="list-inline align-self-center m-0">
                    
                    <li class="list-inline-item">
                        <a>Warunki najmu</a>
                    </li>
                    <li class="list-inline-item">
                        <a>Polityka prywatności</a>
                    </li>
                    <li class="list-inline-item"><a>Regulamin</a></li>
                    <li class="list-inline-item"><a>Dołącz do nas!</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
