<div class="container-fluid footer-color p-4">
    <div class="container footer-color">
        <div class="d-flex">
            <div class="d-flex justify-content-start">
                <ul class="list-inline align-self-center m-0">
                    <li class="list-inline-item">
                        <a>Copyright © 2023 RentAndGo.</a>
                    </li>
                    <li class="list-inline-item">
                        <a>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="d-flex justify-content-end flex-grow-1">
                <ul class="list-inline align-self-center m-0">
                    <li class="list-inline-item">
                        <a>Polityka prywatności</a>
                    </li>
                    <li class="list-inline-item"><a>Regulamin</a></li>
                    <li class="list-inline-item"><a></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
