<nav class="navbar navbar-expand-lg navbar-color">
    <img src="assets/logo_icon.svg" width="30" height="30" class="mx-3" />
    <a class="navbar-brand" href="#">START<span class="fw-bold">LIGHT</span></a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Strona główna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="">Projekty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="">O nas</a>
        </li>
    </ul>
    
</nav>
