:host {
    padding-right: 80px;
}

.navbar {
    height: 100px;
    width: 100%;
}

.container {
    width: 100%;
}

.right {
    padding-right: 2.5cm;
}

.image {
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-color {
    background: rgb(16, 2, 50);
}

.mainbox {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.4);

}

a {
    color: white; 
    margin-left: 25px;
    font-size: 17px;  
    
}

a:hover,
a:active,
a:focus {
    color: white;
    border-bottom: 3px solid white;   
}

#menu {
    font-size: 16px;
    --mat-mdc-button-persistent-ripple-color: none;
    margin-right: 1cm;
    color: white;
    margin-bottom: 9px;
    font-weight: 600;
}

.person {
    font-size: 30px;
    margin-top: 20px;
    margin-right: 6px;
    color: white;
}

