:host {
    padding-right: 80px;
}

.navbar {
    height: 100px;
}

.image {
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-color {
    background: rgb(16, 2, 50);
}

a {
    color: white; 
    margin-left: 15px;
    font-size: 20px;  
    font-family:'Roboto-Light';
}

a:hover,
a:active,
a:focus {
    color: red;
}

