<div class="card car-card">
    <img
        class="card-img-bottom"
        src="{{car.car_image}}"
        alt=""
    />
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">
            {{ car.carBrand }}
        </h5>
        <p class="card-text price">
            {{ car.price }} zł/doba
       </p>
        <p class="card-text description">
            {{ car.description }}
        </p>
        
        <a [routerLink]="['/car', car.number]" class="go-to-car"
            >Specyfikacja samochodu</a>
        <a [routerLink]="" class="go-to-car2"
            >Zarezerwuj teraz</a>
    </div>
</div>
