.title {
    margin-top:1cm;
    font-size: 50px;
}

.head {
    color: white;
    background-color: rgb(16, 2, 50);
}

.table {
    border-color: rgba(170, 172, 172, 0.424);
}

.action {
    width: 100px;
}