.title {
    margin-top:1cm;
    font-size: 50px;
}

.head {
    color: white;
    background-color: rgb(16, 2, 50);
}

.table {
    border-color: rgba(170, 172, 172, 0.424);
}

.action {
    width: 100px;
}

.img {
    width: 100px;
    height: 70px;
}

.head-number {
    width: 120px;
    text-align: center;
}

.head-photo {
    width: 120px;
    text-align: center;
}