.header {
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 55px;
    font-weight: 200;
}

.SubmitButton
{
    margin-top: 15px;
    margin-left: 9cm;
    background: rgb(16, 2, 50);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    }

    