


    
    <h1 class="text-center mb-4">Dodaj furę</h1>
<form class="form group" [formGroup]="form">

    <div class="mb-3">
        <label for="carBrand" class="form-label">Marka samochodu</label>
        <input type="text" class="form-control" id="carBrand">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Cena</label>
        <input type="number" class="form-control" id="price">
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Rok produkcji</label>
        <input type="number" class="form-control" id="year">
    </div>
    <div class="mb-3">
        <label for="mileage" class="form-label">Przebieg</label>
        <input type="number" class="form-control" id="mileage">
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Rodzaj nadwozia</label>
        <input type="text" class="form-control" id="body">
    </div>
    <div class="mb-3">
        <label for="fuelType" class="form-label">Rodzaj paliwa</label>
        <input type="text" class="form-control" id="fuelType">
    </div>
    <div class="mb-3">
        <label for="transmission" class="form-label">Skrzynia biegów</label>
        <input type="text" class="form-control" id="transmission">
    </div>
    <div class="mb-3">
        <label for="doors" class="form-label">Ilość drzwi</label>
        <input type="number" class="form-control" id="doors">
    </div>
    <div class="mb-3">
        <label for="color" class="form-label">Kolor</label>
        <input type="text" class="form-control" id="color">
    </div>
    <div class="mb-3">
        <label for="drive" class="form-label">Napęd</label>
        <input type="text" class="form-control" id="drive">
    </div>
    <div class="mb-3">
        <label for="power" class="form-label">Ilość koni mechanicznych</label>
        <input type="number" class="form-control" id="power">
    </div>
    <div class="mb-3">
        <label for="engineCapacity" class="form-label">Pojemnosc silnika</label>
        <input type="number" class="form-control" id="engineCapacity">
    </div>
    <div class="mb-3">
        <label for="trunkCapacity" class="form-label">Pojemność bagaznika</label>
        <input type="number" class="form-control" id="trunkCapacity">
    </div>
    <div class="mb-3">
        <label for="fuelConsumption" class="form-label">Spalanie</label>
        <input type="number" class="form-control" id="fuelConsumption">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Opis</label>
        <input type="textarea" class="form-control" id="description">
    </div>
    <div class="mb-3">
        <label for="car_image" class="form-label">URL obrazu</label>
        <input type="textarea" class="form-control" id="car_image">
    </div>

    <button type="submit" class="SignUpButton" (click)="AddCar()">Dodaj furę</button>

</form>

