
<form>
    <div class="row shadow p-5 mb-5 bg-white rounded">
        <div class="row">
        <h2 class="mb-1 Title">Rent&Go - wyszukaj, zarezerwuj i jedź!</h2>
        </div>
        <div class="row mb-4">
            <div class="col-4" style="display: flex; align-items: center "><i class="bi bi-check iconcheck"></i>
                <div class="advert">Darmowa rezygnacja</div></div>
            <div class="col-4" style="margin-left: -135px;display: flex; align-items: center"><i class="bi bi-check iconcheck"></i>
                <div class="advert">Brak depozytu</div></div>
            <div class="col-4" style="margin-left: -200px; display: flex; align-items: center;"><i class="bi bi-check iconcheck"></i>
                <div class="advert">Brak limitu kilometrów</div></div>
        </div>
    <div class="col-2">
        <mat-form-field appearance="fill">
            <mat-label>Lokalizacja</mat-label>
            <mat-select>
              <mat-option value="one">Gliwice</mat-option>
              <mat-option value="two">Bytom</mat-option>
              <mat-option value="two">Zabrze</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="col-3" style="margin-left: 20px">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Data rozpoczęcia</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>   
        </div>
        </div>
        <div class="col-3" style="margin-left: -45px;">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Data zakończenia</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>   
            </div>
            </div>
            <div class="col-3">
    <div>
        <button type="submit" class="btn btn-lg SubmitButton">Szukaj ofert</button>

    </div>
    </div>
    </div>
    
</form>
