.SubmitButton{

    background-color: rgb(16, 2, 50);
    color: white;
    border-radius: 30px;
    margin-left: -45px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 350px;
    height: 60px;
    font-weight: 400;
   
}

.Title {
    font-size: 55px;
    font-weight: 200;
}

.advert {
    font-size: 20px;
    font-weight: 300;
}

.iconcheck {
    font-size: 30px;
}