.confirmation-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .car-details {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .title {
    font-size: 40px;
  }
  
  .car-image {
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .car-info {
    flex-grow: 1;
    text-align: left;
    display: flex; /* Dodajemy flexbox */
    flex-direction: column; /* Ustawiamy kierunek na kolumnę */
    align-items: flex-start; /* Ustawiamy wyrównanie na lewo */
  }
  
  /* Dodaj margines między selectami i przyciskiem */
  select {
    margin-bottom: 10px;
  }
  
  .car-brand {
    font-size: 25px;
    font-weight: bold;
  }
  
  .create-reservation-btn {
    background-color:rgb(16, 2, 50);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 70px;
  }
  
  .create-reservation-btn:hover {
    background-color: rgb(34, 4, 104)3;
  }