


<div class="container shadow p-5 mb-5 bg-white rounded" style="margin-top: 30px">
    
    <h1 class="text-center mb-4">Logowanie</h1>
<form class="needs-validation">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Adres e-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Hasło">
      </div>



    <button type="submit" class="SignUpButton">Zaloguj się</button>
    <button type="button" class="ChangePassword"     routerLink="/ChangePassword">Zapomniałem hasła</button>

</form>
</div>
