label {
    font-size: 1em;
    font-weight: 300;
}

.container {
    width: 45%;
    
}

h1 {
    font-size: 55px;
    font-weight: 200;
}

.SignUpButton
{
    margin-top: 30px;
    background: rgb(16, 2, 50);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 47.5%;
    height: 40px;
  
}

.ChangePassword
{
    margin-top: 30px;
    margin-left: 5%;
    background: rgb(16, 2, 50);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 47.5%;
    height: 40px;
   
}