


<div class="container shadow p-5 mb-5 bg-white rounded" style="margin-top: 30px">
    
    <h1 class="text-center mb-4">Logowanie</h1>

    <form class="needs-validation" [formGroup]="form">

    <div class="mb-3">
        <label for="email" class="form-label">Adres e-mail</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="password" placeholder="Hasło" formControlName="password">
      </div>



    <button type="submit" class="SignUpButton" (click)="login()">Zaloguj się</button>
    <button type="button" class="ChangePassword" routerLink="/ChangePassword">Zapomniałem hasła</button>

</form>
</div>
