<div class="container" style="width: 50%">
    <h1 style="font-size: 60px; font-weight: bold; margin-bottom: 0">
        Zaloguj się
    </h1>
    <label>Adres e-mail</label>
    <input type="email" />
    <label>Hasło</label>
    <input type="password" />
    <a
        class="d-flex justify-content-end mt-3 reset"
        [routerLink]="['/request-password-reset']"
        >Resetuj hasło</a
    >
    <p class="d-flex justify-content-center mt-3 reset">
        Niepoprawne dane, spróbuj ponownie
    </p>
    <p  class="d-flex justify-content-center mt-3 reset">
        Twoje konto jest nieaktywne!
    </p>
    <div class="d-flex justify-content-center pt-2">
        <button class="loginButton" >Zaloguj się</button>
    </div>
    <p class="d-flex justify-content-center pt-4 mb-1" style="font-weight: 100">
        Nie masz konta?
    </p>
    <a routerLink="/" class="d-flex justify-content-center pt-1 reset"
        >Zarejestruj się</a
    >
</div>
