/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";


html, body { height: 100%}


* {
  font-family: 'Poppins-Regular' !important;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/Poppins/Poppins-Regular.ttf');
}



