/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";


html, body { height: 100%}


* {
  font-family: 'Poppins-Regular' !important;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/Poppins/Poppins-Regular.ttf');
}

.success-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--success-color);
  --mdc-snackbar-supporting-text-color: var(--white-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
  border-color: #f5c6cb;}


.mat-simple-snackbar-action {
  color: white;
}


  .mat-simple-snackbar-action {
    color: white;
  }


:root {
  --primary-color: #153d77;
  --secondary-color: #6c757d;
  --white-color: #fff;
  --success-color: rgb(16, 2, 50);
  --delete-color: #dc3545;
  --background-color: #f2f2f2;
}
