<h1>{{car.carBrand}}</h1>
<div class="row">
    <div class="col-8"><img class="image" src="{{car.car_image}}"></div>
    <div class="col-4"><p class="description">{{car.description}}</p></div>
</div>
<div class="row">
    <div class="col-12">

        <div class="car-specs">

            <div class="spec">
                <div class="spec-title">Kolor:</div>
                <div class="spec-value">{{car.color}}</div>
            </div>

            <div class="spec">
                <div class="spec-title">Napęd:</div>
                <div class="spec-value">{{car.drive}}</div>
            </div>

            <div class="spec">
                <div class="spec-title">Ilość koni mechanicznych:</div>
                <div class="spec-value">{{car.power}} KM</div>
            </div>

            <div class="spec">
                <div class="spec-title">Pojemność silnika:</div>
                <div class="spec-value">{{car.engineCapacity}} l</div>
            </div>

            <div class="spec">
                <div class="spec-title">Pojemność bagażnika:</div>
                <div class="spec-value">{{car.trunkCapacity}} l</div>
            </div>

            <div class="spec">
                <div class="spec-title">Spalanie:</div>
                <div class="spec-value">{{car.fuelConsumption}} l</div>
            </div>

            <div class="spec">
                <div class="spec-title">Cena za dzień:</div>
                <div class="spec-value">{{car.price}} zł</div>
            </div>

            <div class="spec">
                <div class="spec-title">Marka:</div>
                <div class="spec-value">{{car.carBrand}}</div>
            </div>

            <div class="spec">
                <div class="spec-title">Rok produkcji:</div>
                <div class="spec-value">{{car.year}}</div>
            </div>

            <div class="spec">
                <div class="spec-title">Przebieg:</div>
                <div class="spec-value">{{car.mileage}} km</div>
            </div>

            <div class="spec">
                <div class="spec-title">Rodzaj nadwozia:</div>
                <div class="spec-value">{{car.body}}</div>
            </div>

            <div class="spec">
                <div class="spec-title">Paliwo:</div>
                <div class="spec-value">{{car.fuelType}}</div>
            </div>

            <div class="spec">
                <div class="spec-title">Skrzynia biegów:</div>
                <div class="spec-value">{{car.transmission}}</div>
            </div>

            <div class="spec">
                <div class="spec-title">Ilość drzwi:</div>
                <div class="spec-value">{{car.doors}}</div>
            </div>






        </div>

    </div>

</div>